/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-sherif;
}
body{
    background: #f2f4f8;
}
nav{
    background: #0a2540;
    padding: 15px;
    color: #fff;
}
nav a{
    color: #fff;
    margin-left: 15px;
    text-decoration: none;
}
.box{
    width: 350px;
    background: #fff;
    margin: 40px;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}
.box h1{
    text-align: center;
    margin-bottom: 20px;
}
 input, select, button{

 } */